---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Benefits from "../components/Benefits.astro";
import Places from "../components/Places.astro";
import FAQ from "../components/FAQ.astro";
import { PHONE } from "../constants/index.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import balcony5 from "../images/casa-martina-36.jpg";
import living1 from "../images/casa-martina-23.jpg";

import bedroomOne1 from "../images/casa-martina-32.jpg";
import bedroomTwo1 from "../images/casa-martina-43.jpg";
---

<Layout title="Your holiday home in Tuscany">
  <main>
    <Hero />

    <!-- Image with text -->
    <section
      class="mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:items-center lg:px-24"
    >
      <div class="grid grid-cols-2 gap-20 max-md:grid-cols-1">
        <div class="">
          <h2 class="text-4xl pb-4 font-bold">Modern 3 bed apartment</h2>

          <p class="mb-3">
            Located near the charming medieval town of <strong>Certaldo,</strong> Casa Martina is
            a short drive from the beatifule cities of <strong>San Gimignano, Siena,
            Volterra & from the Chianti Region</strong>. <strong>Certaldo</strong> train station is 15 min
            by walk away & links with Florence & Siena.
          </p>
          <p class="mb-3">
            The surrounding area is ideal for going hot air ballooning, horse
            riding & amazing views. Guest have Golf Club Castelfalfi 21km away &
            Terme della Francigena Thermal Baths, located 10 min drive from Casa
            Martina.
          </p>

          <div class="flex items-center mt-8">
            <Icon
              name="mdi:phone"
              class="text-5xl mr-4 border rounded-full p-2 bg-green-600 text-white"
            />
            <div class="flex flex-col">
              <span class="text-xl font-bold">Reservation:</span>

              <span class="text-xl">
                <a href={`tel:${PHONE}`}>{PHONE}</a>
              </span>
            </div>
          </div>
        </div>

        <div class="grid grid-cols-2 md:grid-cols-2 gap-4">
          <div class="grid gap-4">
            <div>
              <Image src={bedroomOne1} alt="welcome" />
            </div>
          </div>
          <div class="grid gap-4">
            <div>
              <Image src={balcony5} alt="welcome" />
            </div>
          </div>
          <div class="grid gap-4">
            <div>
              <Image src={living1} alt="welcome" />
            </div>
          </div>
          <div class="grid gap-4">
            <div>
              <Image src={bedroomTwo1} alt="bedroomTwo2" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <Benefits />
    <Places />
    <FAQ />

    <!-- CTA -->
    <section class="bg-gray-800 text-white">
      <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold leading-tight">
            Book your reservation now
          </h2>
          <p class="mb-6 font-light md:text-lg">Tuscany is waiting you</p>
          <a
            href={`tel:${PHONE}`}
            class="bg-green-600 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none"
            >{PHONE}</a
          >
        </div>
      </div>
    </section>
  </main>
</Layout>
